@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 98%);
}

.container {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
@media (max-width: 768px) {
  .container {
    overflow: visible;
  }
}

.card_1 {
  text-align: center;
  margin-top: 2rem;
  width: 30em;
  margin-bottom: 2rem;
}
.card_1 .card_1-header_1 {
  font-weight: 200;
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .card_1 .card_1-header_1 {
    font-size: 23px;
    margin-bottom: 0.5rem;
  }
}
.card_1 .card_1-header_2 {
  font-weight: 600;
}
@media (max-width: 768px) {
  .card_1 .card_1-header_2 {
    font-size: 23px;
  }
}
.card_1 p {
  font-size: 15px;
  color: hsl(229, 6%, 66%);
  font-weight: 400;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .card_1 p {
    font-size: 16px;
    margin-top: 2rem;
  }
}
@media (max-width: 768px) {
  .card_1 {
    width: 18rem;
  }
}

.card_2 {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .card_2 {
    flex-direction: column;
    margin-top: 1.5rem;
  }
}
.card_2 .card_section_1 {
  width: 19rem;
  height: 12rem;
  margin: 0.8rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-top: 5px solid hsl(180, 62%, 55%);
}
@media (max-width: 768px) {
  .card_2 .card_section_1 {
    width: 17rem;
    margin: 0.5rem;
  }
}
.card_2 .card_section_1 h1 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.card_2 .card_section_1 p {
  color: hsl(229, 6%, 66%);
  font-weight: 400;
  font-size: 14px;
}
.card_2 .card_section_1 img {
  width: 3rem;
  margin-left: 13rem;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .card_2 .card_section_1 img {
    width: 2.8rem;
    margin-left: 12rem;
    margin-top: 2.5rem;
  }
}
.card_2 .card_section_4 {
  width: 19rem;
  height: 12rem;
  margin: 0.8rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-top: 5px solid hsl(212, 86%, 64%);
}
@media (max-width: 768px) {
  .card_2 .card_section_4 {
    width: 17rem;
    margin: 0.5rem;
  }
}
.card_2 .card_section_4 h1 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.card_2 .card_section_4 p {
  color: hsl(229, 6%, 66%);
  font-weight: 400;
  font-size: 14px;
}
.card_2 .card_section_4 img {
  width: 3rem;
  margin-left: 13rem;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .card_2 .card_section_4 img {
    width: 2.8rem;
    margin-left: 12rem;
    margin-top: 2.5rem;
  }
}
.card_2 .card_3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  .card_2 .card_3 {
    margin-bottom: 0;
  }
}
.card_2 .card_3 .card_section_2 {
  width: 19rem;
  height: 12rem;
  margin: 0.8rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-top: 5px solid hsl(0, 78%, 62%);
}
@media (max-width: 768px) {
  .card_2 .card_3 .card_section_2 {
    width: 17rem;
    margin: 0.5rem;
  }
}
.card_2 .card_3 .card_section_2 h1 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.card_2 .card_3 .card_section_2 p {
  color: hsl(229, 6%, 66%);
  font-weight: 400;
  font-size: 14px;
}
.card_2 .card_3 .card_section_2 img {
  width: 3rem;
  margin-left: 13rem;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .card_2 .card_3 .card_section_2 img {
    width: 2.8rem;
    margin-left: 12rem;
    margin-top: 2.5rem;
  }
}
.card_2 .card_3 .card_section_3 {
  width: 19rem;
  height: 12rem;
  margin: 0.8rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-top: 5px solid hsl(34, 97%, 64%);
}
@media (max-width: 768px) {
  .card_2 .card_3 .card_section_3 {
    width: 17rem;
    margin: 0.5rem;
  }
}
.card_2 .card_3 .card_section_3 h1 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.card_2 .card_3 .card_section_3 p {
  color: hsl(229, 6%, 66%);
  font-weight: 400;
  font-size: 14px;
}
.card_2 .card_3 .card_section_3 img {
  width: 3rem;
  margin-left: 13rem;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .card_2 .card_3 .card_section_3 img {
    width: 2.8rem;
    margin-left: 12rem;
    margin-top: 2.5rem;
  }
}